body{
    background-color: antiquewhite;
}

.table, tr, td{
    border: 1px solid gray;
    color: gray;
    padding: 20px;
    font-size: 20px;
    position: static;

    
}
a{
color:gray;
text-decoration: none;
}
a:hover{
    font-size:25px;
    color:black;
    transition: ease 0.5s;
    
}
table{
    margin-left: 45%;
    
}
h2{
    text-align: center;
    color: blueviolet;
    font-size:30px;
}
